.button {
  padding: 10px;
  color: $color-default-white;
  font-family: "Oswald";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: $apple;
  width: 100%;
  border-color: $color-transparent;
  display: block;

  &--second {
    background-color: $white-smoke;
    color: $charcoal;
  }
}