.purpose__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.purpose__item {
  background-color: $white-smoke;
  padding: 20px;
  margin-top: 20px;
}

.purpose__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: $color-default-black;
}

.purpose__text {
  padding-bottom: 23px;
  border-bottom: 1px solid $gainsboro;
}

.purpose__button {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $color-default-black;
}
